<div class="col-sm-6">
    <h1>DAIF 2020 !</h1>

    <h2>Arenas</h2>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="Arenas" asp-action="ListArenas">Arenas</a>
        </li>
    </ul>

    <div class="badge-pill">
        <a class="btn btn-lg btn-outline-success btn-block" asp-area="" asp-controller="Home" asp-action="Index">Back to Main menu !</a>
    </div>
</div>