<div class="col-sm-6">
    <h1>PROLifeLog !</h1>

    <h2>Life Logs</h2>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="LifeLogs" asp-action="Index">Life Logs</a>
        </li>
    </ul>

    <h2>Physical Logs</h2>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="btn btn-lg btn-outline-success" asp-area="" asp-controller="PhysicalLogs" asp-action="ListPhysicalLogs">Physical Logs</a>
        </li>
    </ul>

    <div class="badge-pill">
        <a class="btn btn-lg btn-outline-success btn-block" asp-area="" asp-controller="Home" asp-action="Index">Back to Main menu !</a>
    </div>
</div>