@model PRORegister.PRONBS.Models.DataModels.ImageModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ImageModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ImageId" />
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="ImageName" class="control-label"></label>*@
                <input type="hidden" asp-for="ImageName" class="form-control" />
                <span asp-validation-for="ImageName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row flex-xl-grow-1">
    @*<div class="col-md-4">
        <a class="btn btn-sm btn-block btn-outline-success" asp-controller="Image" asp-action="Edit" asp-route-id="@Model.ImageId">Edit</a>
    </div>*@
    <div class="col-md-4">
        <a class="btn btn-sm btn-block btn-outline-success" asp-controller="Image" asp-action="Index">Back to Images</a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-sm btn-block btn-outline-success" asp-controller="PRONBS" asp-action="Index">Back to PRO NBS</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
