@{
    ViewData["Title"] = "PRO Regster";
}

    <div class="badge badge-dark text-center">
        <h1>Congratz you manage to register !</h1>

        <p>There is comming more after next lesson ;P</p>
    </div>