@model PRORegister.PRONBS.Models.DataModels.Asset

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Asset</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SiteId" class="control-label"></label>
                <select asp-for="SiteId" class="form-control" asp-items="ViewBag.SiteId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AssetStatusId" class="control-label"></label>
                <select asp-for="AssetStatusId" class="form-control" asp-items="ViewBag.AssetStatusId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AssetTypeId" class="control-label"></label>
                <select asp-for="AssetTypeId" class="form-control" asp-items="ViewBag.AssetTypeId"></select>
            </div>
            <div class="form-group">
                <label asp-for="AssetBrandId" class="control-label"></label>
                <select asp-for="AssetBrandId" class="form-control" asp-items="ViewBag.AssetBrandId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MACAddress" class="control-label"></label>
                <input asp-for="MACAddress" class="form-control" />
                <span asp-validation-for="MACAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SerialNumber" class="control-label"></label>
                <input asp-for="SerialNumber" class="form-control" />
                <span asp-validation-for="SerialNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Connectivity" class="control-label"></label>
                <input asp-for="Connectivity" class="form-control" />
                <span asp-validation-for="Connectivity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LocalIP" class="control-label"></label>
                <input asp-for="LocalIP" class="form-control" />
                <span asp-validation-for="LocalIP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ethernet1LLDP" class="control-label"></label>
                <input asp-for="Ethernet1LLDP" class="form-control" />
                <span asp-validation-for="Ethernet1LLDP" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ethernet1" class="control-label"></label>
                <input asp-for="Ethernet1" class="form-control" />
                <span asp-validation-for="Ethernet1" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-sm btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="btn btn-sm btn-success" asp-controller="Assets" asp-action="ListAssets">Back to Assets</a>
</div>
